@font-face {
  font-family: 'Francois One';
  font-style: normal;
  font-weight: 400;
  src: local('Francois One Regular'), local('FrancoisOne-Regular'), url(../../fonts/bYbkq2nU2TSx4SwFbz5sCHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../../fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../../fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

body {
  background: #F5AF33;
  background: #55E0E6;
}

.reveal {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: normal;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Francois One', sans-serif;
  letter-spacing: -0.05em;
  margin: 0 0 20px 0;
  text-shadow: none;
  text-transform: uppercase;
}

/*********************************************
 * TITLES
 *********************************************/
.reveal section:first-child {
  font-size: 50px;
}

.reveal section:first-child h1 {
  font-size: 250px;
}

.reveal .codeTitle h1,
.reveal .codeTitle h2 {
  text-transform: none;
}

.reveal .warningTitle {
  color: #FFF;
}

/*********************************************
 * SLIDES
 *********************************************/

.reveal .fullImageCaption {
  background: rgba(255, 255, 255, .9);
  box-shadow: 0 0 15px #777;
  margin-left: -50%;
  font-size: 60px;
  font-weight: bold;
  padding: 20px 0;
  width: 200%;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  background: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 15px 0px;
}

/*********************************************
 * CODE
 *********************************************/
.reveal pre {
  border: 5px solid #F5AF33;
  font-size: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 75px auto;
  width: 95%;
}

.reveal pre code {
  padding: 20px;
}

/*********************************************
 * LISTS
 *********************************************/

.reveal li {
  line-height: 1.5;
  font-size: 50px;
}

.reveal ul li {
  list-style: none;
}

.reveal .oneColList ol,
.reveal .oneColList ul,
.reveal .twoColList ol,
.reveal .twoColList ul {
  margin-left: 0;
  margin-top: 40px;
}

.reveal .oneColList ol {
  padding: 10px 30px 10px 110px;
}

.reveal .oneColList ul {
  padding: 10px 30px;
}

.reveal .oneColList ol,
.reveal .oneColList ul {
  background: #FFF;
  border: 5px solid #F5AF33;
}
.reveal .oneColList ol,

.reveal .twoColList ul {
  width: 1000px;
}

.reveal .oneColList li,
.reveal .twoColList li {
  margin: 10px;
  padding: 5px 20px;
}

.reveal .twoColList li {
  background: #FFF;
  border: 5px solid #F5AF33;
  display: inline-block;
  width: 420px;
}

/*********************************************
 * GIT LOG
 *********************************************/
.reveal table {
  background: #FFF;
  border: 5px solid #F5AF33;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 40px auto 0 auto;
  padding: 20px;
}

.reveal td {
  font-family: monospace;
  font-size: 30px;
  padding: 2px 10px;
}

.reveal td:nth-child(2) {
  color: #53B6BC;
  font-weight: bold;
}

.reveal td:nth-child(3) {
  color: #333;
}

